#
# Mock defaults for Konflux
#

# Store DNF logs into resultdir.
config_opts['plugin_conf']['chroot_scan_enable'] = True
config_opts['plugin_conf']['chroot_scan_opts'] = {
    'regexes': [ "dnf.*log$" ],
    'only_failed': False,
    'write_tar': True,
}

# Retry DNF calls multiple times.
config_opts['package_manager_max_attempts'] = 3
config_opts['package_manager_attempt_delay'] = 10

# Generate expanded-spec.txt in the result directory.  The expanded specfile
# has all RPM macros resolved and is used by gen_ancestors_from_src.py to
# extract Source tags for SBOM generation.
config_opts['plugin_conf']['expand_spec_enable'] = True
