---
name: Unit-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-python-unit-tests:
    runs-on: ubuntu-latest
    container:
      image: fedora:43

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: install needed RPMs
        run: dnf install -y python3-norpm python3-pip python3-specfile koji patch git rpmlint

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install test dependencies
        run: pip install -r test_requirements.txt

      - name: Run unit tests
        run: ./run_tests.sh
