---
name: Unit-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-python-unit-tests:
    runs-on: ubuntu-latest
    container:
      image: fedora:43

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: install needed RPMs
        run: dnf install -y python3-norpm python3-pip python3-tox koji patch git gcc krb5-devel

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Prepare test artifacts
        run: ./prepare_tests.sh
      
      - name: Run unit tests
        run: tox -e py